@import "colors.css";

@font-face {
    font-family: Rubik_Mono_One;
    src: url(../fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf);
}

@font-face {
    font-family: Allerta;
    src: url(../fonts/Allerta/Allerta-Regular.ttf);
}
html, body {
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: Rubik_Mono_One;
}

p {
    font-family: Allerta, Arial;
}

/*---------------------------------------------------------------------------------*/
/*---GENERAL CLASSES---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/


.important-title {
    color: var(--color-01);
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    text-align: center;
    font-size: 1.87rem;
}

.important-subtitle {
    color: var(--color-04);
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    font-size: 1.38rem;
    text-align: left;
    margin: 4rem 0 0 0;
}

.paragraph {
    
    color: var(--color-05);
    margin: 3rem 0 2rem 0;
}

.title-box {
    background-color: var(--color-04);
    padding: 0.7rem 0 0.5rem 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
}

.title-box::before {
    content: '';
    display: block;
    position: absolute;
    width: 21rem;
    height: 3px;
    background-color: var(--color-03);
    bottom: -1rem;

}

.left-title-box {
    border-radius: 0 42px 42px 0;
}

.left-title-box::before {
    left: 0;
}

.right-title-box {
    border-radius:  42px 0 0 42px;
}

.right-title-box::before {
    right: 0;
}

.section-box{
    width: 100%;
    background-color: var(--color-01);
    position: relative;
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
    z-index: -10;
}

.section-box::before {
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -5;
}


.translucent-image {
    position: relative;
    overflow: hidden;
}

.translucent-image > img {
    position: absolute;
    opacity: 0.1;
}

.action-button {
    background-color: var(--color-06);
    border: none;
    border-radius: 15px;
    padding: 0.5rem 2.5rem;
    width: 13.87rem;
    height: 2.93rem;
    box-shadow: 0px 4px var(--color-shadow);
    color: var(--color-01);
    font-weight: bold;
}

.blue-button {
    background-color: var(--color-04);
    color: var(--color-01);
    border: none;
    border-radius: 30px;
    padding: 0.5rem 2.5rem;
    box-shadow: 0 5px 10px var(--color-shadow);
}
/*---------------------------------------------------------------------------------*/
/*----HEADER SECTION---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

#hero-section {
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 20;
    position: relative;
    overflow: hidden;
}

/* #hero > div {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -10;
}

#hero-section > div > video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
} */

#hero-section > video {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -10;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}

#hero-section > img {
    position: absolute;
    opacity: 0.2;
    right: -150px;
    bottom: -150px;
    width: 50%;
    min-width: 400px;
}

.top-bar {
    display: flex;
    justify-content: center;
    background-color: var(--color-light-03);
}

.top-bar > a {
    font-weight: bold;
    color: var(--color-01);
    text-shadow: -1px 1px var(--color-shadow);
    text-decoration: none;
    transition: color 0.2s;
}

.top-bar > a:hover {
    color: var(--color-03);
}

.top-bar, .main-navbar {
    z-index: 1500;
}

.main-navbar {
    background-color: transparent;
    padding: 0 5%;
    transition: background-color 0.2s;
}

#hero {
    height: 100%;
}

#hero > div:nth-child(1) {
    height: 75%;
}

#hero > div:nth-child(2) {
    height: 25%;
}

#hero > div:nth-child(2) > div:nth-child(1) {
    padding-right: 5%;
}
/* #hero > div {
    height: inherit;
    display: flex;
    align-items: center;
} */

.hero-caption::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0));
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.header-caption {
    padding: 1rem 2rem 4rem 2rem;
    position: relative;
    text-shadow: -2px 2px var(--color-shadow);
}

/* .header-caption::before {
    content: '';
    display: block;
    position: absolute;
} */

.header-caption > h1, .header-caption > h2 {
    color: var(--color-01);
    margin-bottom: 1.5rem;
}

.header-caption > h2 {
    font-family: Allerta;
    
}

/* .header-caption > a {
    margin-top: 1.5rem;
} */

#spacer {
    height: 5rem;
}
/*---------------------------------------------------------------------------------*/
/*---SIDE MENU SECTION-------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

#side-menu {
    height: 100%;
    position: fixed;
    background-color: var(--color-04);
    box-shadow: -5px 0 5px var(--color-shadow);
    width: 0;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 5rem;
    z-index: 2000;
}

#side-menu > a {
    display: block;
    width: 250px;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-01);
    transition: 0.3s;
}

#side-menu > a:hover {
    color: var(--color-03);
}

#side-menu #close-button {
    font-size: 2.2rem;
}
#menu-button {
    width: 180px;
    padding: 0.5rem 2rem;
    margin-left: 10%;
}
#menu-button > i {
    padding: 0.4rem 0.5rem;
}
/*---------------------------------------------------------------------------------*/
/*---FOLLOW US BUTTON SECTION------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

/* .artboard {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
    right: 0%;
	top: 0%;
    border-radius: 40px;
} */

    /* left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); */
.button {
	width: 180px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	
	justify-content: space-evenly;
	background: var(--color-05);
	text-align: center;
	font-weight: bold;
	overflow: hidden;
	color: var(--color-01);
    border-radius: 50px;
}
.button .links a {
	padding: 15px;
	transition: 700ms cubic-bezier(0.89, 0.03, 0.06, 1.5);
	color: var(--color-01);
	text-align: center;
	opacity: 0;
	text-decoration: none;
	transform: scale(0);
}
.button .links a:hover {
	color: var(--color-04);
	transition-timing-function: ease-in-out !important;
	transition-delay: 1ms !important;
}

.button .links a:nth-child(3) {
	transition-delay: 165ms;
}
.button .links a:nth-child(2) {
	transition-delay: 220ms;
}
.button .links a:nth-child(1) {
	transition-delay: 275ms;
}
.button .overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 180px;
	height: 45px;
	position: absolute;
	top: 0em;
	left: 0em;
	background: var(--color-04);
	transition: 1s cubic-bezier(0.89, 0.03, 0.06, 1.5);
    border-radius: 50px;
}
.button .overlay a {
	transform: scale(1);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	opacity: 1;
	padding: 0;
	margin: auto;
	color: #ffffff !important;
	font-size: 20px;
}
.button:hover .links a {
	transform: scale(1.5);
	opacity: 1;
}
.button:hover .overlay {
	transform: translateX(-250px);
}



/*---------------------------------------------------------------------------------*/
/*---BEST SELLER SECTION-----------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

.dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.dots > div {
    width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: var(--color-05);
}

.dots > div:nth-child(1) {
    width: 13px;
    min-height: 13px;
    border-radius: 50%;
    background-color: var(--color-04);
}

.product-card {
    width: 209px;
    height: 277px;
    position: relative;
    border-radius: 62px;
    background-size: auto;
    box-shadow: -5px 5px var(--color-shadow);
    transition: 0.3s;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.product-card-1 {
    background: url("../images/best-sellers/1.png") center center no-repeat;
}

.product-card-2 {
    background: url("../images/best-sellers/2.png") center center no-repeat;
}

.product-card-3 {
    background: url("../images/best-sellers/3.png") center center no-repeat;
}

.product-card > div:nth-child(1) {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.product-card > div:nth-child(1), .product-card > div:nth-child(2) {
    display: none;
}

/* .product-carousel > div > div > .active > div > div:nth-child(1), .product-carousel > div > div > .active > div > div:nth-child(2) {
    transform: scale(1.2);
    display: block;
} */

.product-card:active > div:nth-child(1), .product-card:active > div:nth-child(2) {
    display: block;
}
.card-tag {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 0;
    bottom: 25%;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 0;
}

.card-tag h4 {
    color: var(--color-01);
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}

.card-tag::before {
    display: none;
}

#best-sellers .item.active.first .hexagon-product {
    transform: scale(1.2);
  }

/*---------------------------------------------------------------------------------*/
/*---ABOUT US SECTION--------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

#about-us {
    width: 100%;
    background-color: var(--color-01);
    padding-top: 4rem;
    padding-bottom: 4rem;
    z-index: -10;
}

#about-us::before {
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient( var(--color-01), var(--color-shadow-02), var(--color-01) );
    z-index: -5;
}

#about-us > img {
    opacity: 0.05;
    bottom: -100px;
    width: 50%;
    min-width: 400px;
    right: -150px;
    z-index: -7;
}

.about-us-desc {
    padding-top: 3rem;
}

.what-we-do {
    position: relative;
    margin-left: -15px;
    overflow: hidden;
}

.what-we-do > div:nth-child(1) {
    width: 80%;
    height: 454px;
    background-color: var(--color-04);
    border-radius: 0 82px 82px 0;
    position: relative;
}

.what-we-do > div:nth-child(1)::before, .what-we-do > div:nth-child(1)::after{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--color-light-02);
    border-radius: 0 82px 82px 0;
}

.what-we-do > div:nth-child(1)::before {
    width: 95%;
    height: 90%;
    top: 5%;
    left: 0;
}

.what-we-do > div:nth-child(1)::after {
    width: 85%;
    height: 80%;
    top: 10%;
    left: 0;
}

.what-we-do > div:nth-child(2) > img {
    border-radius: 72px;
    width: 348px;
    position: absolute;
    top: 5%;
    right: 0;
}

.what-we-do > div:nth-child(3) {
    position: absolute;
    transform: rotate(-90deg);
    left: -30px;
    top: 40%;
    color: white;
    font-size: 3rem;
}

/*---------------------------------------------------------------------------------*/
/*---OUR SERVICES SECTION----------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/


#our-services {
    background: url("../images/services.jpg") center center no-repeat;
    background-size: cover;
    
}

#our-services::before {
    background-image: linear-gradient( var(--color-01), var(--color-light-01), var(--color-07) );
    background-size: cover;
}

.service-card {
    width: 500px;
    height: 500px;
    min-width: 400px;
    min-height: 400px;
    position: relative;
}

.service-card > div:nth-child(1) {
    position: absolute;
    width: 17.7rem;
    height: 23.37rem;
    left: 5px;
    bottom: 5px;
    background-color: var(--color-01);
    border-radius: 60px;
    padding: 1rem 2rem;
    box-shadow: -5px 5px var(--color-shadow);
    z-index: 30;
}

.service-card > div:nth-child(1) > h2 {
    text-align: center;
}

.service-card > div:nth-child(1) > p {
    font-size: 0.8rem;;
}

.service-card > div:nth-child(2) {
    position: absolute;
    width: 17.7rem;
    height: 23.37rem;
    top: 0;
    right: 0;
    background-color: var(--color-01);
    border-radius: 60px;
    box-shadow: -5px 5px var(--color-shadow);
    overflow: hidden;
    z-index: 20;
}

.service-card > div:nth-child(2)::before {
    content:'';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--color-shadow);
    z-index: 25;
}
.service-card > div:nth-child(2) > img {
    width: 100%;
}

.indicator-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}

.indicator-bar > div:nth-child(1) {
    background-color: var(--color-04);
}


.indicator-dot {
    width: 15px;
    min-height: 15px;
    border-radius: 50%;
    background-color: var(--color-05);
    padding: 0.25rem;
    position: relative;
}

/* .indicator-dot::before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: var(--color-04);
    z-index: 10;
} */


/*---------------------------------------------------------------------------------*/
/*---PARTNERS SECTION--------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/


#partners {
    background-image: linear-gradient( var(--color-07), var(--color-light-01) );
}

#partners > img {
    min-width: 400px;
    width: 50%;
    right: -200px;
    bottom: -400px;
    z-index: -5;
}

#partners > div img {
    max-width: 130px;
    min-width: 50px;
    transition: scale 0.5s;
    overflow: hidden;
    z-index: 5;
}

#partners > div img:hover{
    scale: 1.3;
    transition: scale 0.5s;
}

.brand-logos {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.brand-logos > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

/*---------------------------------------------------------------------------------*/
/*---TESTIMONIAL SECTION-------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

.testimonials-carousel {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.testimonial-card {
    width: 780px;
    height: 370px;
    position: relative;
}

.testimonial-card > div:nth-child(1) {
    position: absolute;
    width: 72%;
    height: 15rem;
    right: 0;
    bottom: 5px;
    background-color: var(--color-01);
    border: solid 1px var(--color-07);
    border-radius: 60px;
    padding: 1rem 3rem 2rem 3rem;
    box-shadow: -5px 5px 5px var(--color-shadow);
    z-index: 20;
}

.testimonial-card > div:nth-child(1) > p {
    font-size: 0.8rem;;
}

.testimonial-card > div:nth-child(2) {
    position: absolute;
    width: 15.6rem;
    height: 15.6rem;
    top: 0;
    left: 0;
    background-color: var(--color-01);
    border-radius: 60px;
    overflow: hidden;
    z-index: 30;
}

/* .testimonial-card > div:nth-child(2)::before {
    content:'';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--color-shadow);
    z-index: 25;
} */

.testimonial-card > div:nth-child(2) > img {
    width: 100%;
}

.testimonial-card > div:nth-child(3) {
    position: absolute;
    width: 45%;
    left: 35%;
    border-radius: 35px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.testimonial-card > div:nth-child(3)::before {
    display: none;
}

.testimonial-card > div:nth-child(3) > h2 {
    text-align: center;
    font-size: 1.5rem;
}

.testimonial-button {
    color: white;
    transform: rotate(-90deg);
    padding-left: 4rem;
    padding-right: 4rem;
    font-weight: bold;
    box-shadow: none;
}

#testimonial-indicator {
    transform: rotate(-90deg);
}

#testimonial-indicator > h2 {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    color: var(--color-04);
}

/*---------------------------------------------------------------------------------*/
/*---SUBSCRIBE SECTION-------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

#subscribe {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: url("../images/subscribe.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
}

#subscribe > img:nth-child(1) {
    opacity: 0.05;
    width: 50%;
    min-width: 400px;
    left: -150px;
    bottom: 0;
}

#subscribe::before {
    background-image: linear-gradient( var(--color-01), var(--color-light-01) );
}

#subscribe form {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.subscribe-text-box {
    border-radius: 100px;
}

.subscribe-text-box::before {
    display: none;
}

.subscribe-text {
    font-size: 1.2rem;
}

/*---------------------------------------------------------------------------------*/
/*---FOOTER SECTION----------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

footer {
    background-color: var(--color-04);
    width: 100%;
    border-radius: 64px 64px 0 0;
    color: var(--color-01);
}

.footer-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    margin-bottom: 3rem;

}

.footer-top h2 {
    color: var(--color-01);
    font-size: 1.2rem;
}

.footer-top table {
    width: 250px;
    margin-top: 1rem;
    
}

.footer-top table td {
    vertical-align: baseline;
    padding-right: 1rem;
}

.center-foot-logo {
    width: 160px;
    margin-top: 3rem;
}

.center-foot-logo > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.circle {
    width: 32px;
    min-height: 32px;
    border-radius: 50%;
    background-color: var(--color-01);
    text-align: center;
    padding: 0.25rem;
}

.circle > a {
    color: var(--color-04);
    
}

.quick-links a {
    color: var(--color-01);
    text-decoration: none;
}

.quick-links table td {
    padding-bottom: 0.8rem;
}

.blue-dots {
    width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: var(--color-03);
    text-align: center;
    padding: 0.25rem;
}

.footer-bottom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--color-shadow);
}

.footer-bottom > div {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

/*---------------------------------------------------------------------------------*/
/*---MEDIA QUERY SECTION-----------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

@media only screen and (max-width: 500px) {
    .testimonial-card {
        width: 330px;
        height: 600px;
    }
    .testimonial-card > div:nth-child(1){
        width: 100%;
        height: 60%;
    }
    .testimonial-card > div:nth-child(3)  {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    .testimonial-button {
        transform: rotate(0deg);
    }
    
    .testimonial-indicator > h2, .indicator-bar, .dots, .what-we-do > div:nth-child(3) {
        display: none;
    }

    .testimonial-indicator {
        transform: rotate(0deg);
    }

}

@keyframes beat {
	to {
		transform: scale(1.4);
	}
}