@import "colors.css";


.small-hero {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 30%

}

.small-hero::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( var(--color-shadow), var(--color-01) );
}

.title-box-alt {
    border-radius: 50px;
}

.title-box-alt::before {
    display: none;
}

/*---ABOUT US STYLE SECTION--*/
.about-us-hero {
    background: url("../images/small_hero/bg-02.jpg") 60% 20% no-repeat;
}

/*---FAQS PAGE STYLE SECTION---*/

.faqs-hero {
    background: url("../images/small_hero/bg-03.jpg") 60% 60% no-repeat;
}

section > div {
    background-image: linear-gradient(var(--color-01), var(--color-shadow), var(--color-01));
}

.question-field {
    margin-top:2rem;
    padding: 2rem;
    border-radius: 50px;
    background-color: var(--color-01);
    
}    

.question-field > h1 {
    color: var(--color-04);
    font-size: 1.3rem;
}

.question-field > p {
    color: var(--color-05);
    font: 1.2rem;
    margin-top: 1rem;
    text-align: center;
}


/*---CONTACT US PAGE SECTION---*/

.contact-us-hero {
    background: url("../images/small_hero/bg-04.jpg") 50% 30% no-repeat;
}

#contact-us-sect {
    height: 100%;
}
.form-field {
    text-align: center;
    height: 80%;
}

/* #contact-us-sect {
    
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
} */





/* #contact-us-cover form{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
} */

/*---SHOP STYLE SECTION---*/
.shop-hero {
    background: url("../images/small_hero/bg-01.jpg") 60% 60% no-repeat;
}