@import "colors.css";

.small-hero {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 30%

}

.small-hero::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( var(--color-shadow), var(--color-01) );
}

.title-box-alt {
    border-radius: 50px;
}

.title-box-alt::before {
    display: none;
}

/*---ABOUT US STYLE SECTION--*/
.about-us-hero {
    background: url("../images/small_hero/bg-02.jpg") 60% 20% no-repeat;
}

/*---FAQS PAGE STYLE SECTION---*/

.faqs-hero {
    background: url("../images/small_hero/bg-03.jpg") 60% 60% no-repeat;
}

section > div {
    background-image: linear-gradient(var(--color-01), var(--color-shadow), var(--color-01));
}

.card h1 {
    font-size: 1.2rem;
}

.card-body {
    text-align: center;
}

.card-body p {
    color: var(--color-05);
}

/*---CONTACT US PAGE SECTION---*/

.contact-us-hero {
    background: url("../images/small_hero/bg-04.jpg") 50% 30% no-repeat;
}

#contact-us > img {
    left: -150px;
    bottom: -150px;
    width: 50%;
    min-width: 400px;
    opacity: 0.05;
    z-index: -20;
}

.social-buttons > div {
    transform: scale(1.3);
    transition: 0.3s
}

.social-buttons > div:hover {
    transition: 0.3s;
    transform: scale(1.6);
}

.social-buttons > div:active {
    color: var(--color-01);
    background-color: var(--color-04);
}

.info-container h2 {
    color: var(--color-04);
    font-size: 1.4rem;
}

.info-container table {
    width: 250px;
    margin-top: 1rem;
    color: var(--color-05);
}

.info-container table td {
    vertical-align: baseline;
    padding-right: 1rem;
}

#contact-us > div {
    width: 100%;
}

#contact-us > div > div {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.form-container {
    background-color: var(--color-01);
    padding: 2rem;
    border-radius: 35px;
}
/* .form-field {
    text-align: center;
    height: 80%;
}
 */
/*---SHOP STYLE SECTION---*/
.shop-hero {
    background: url("../images/small_hero/bg-01.jpg") 60% 60% no-repeat;
}